FlightBookingImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://flight_booking.services/" name="FlightBookingImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://flight_booking.services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types/>
  <message name="bookFlight">
    <part name="user_id" type="xsd:int"/>
    <part name="flight_id" type="xsd:int"/>
  </message>
  <message name="bookFlightResponse"/>
  <message name="rescheduleFlight">
    <part name="user_id" type="xsd:int"/>
    <part name="old_flight_id" type="xsd:int"/>
    <part name="new_flight_id" type="xsd:int"/>
  </message>
  <message name="rescheduleFlightResponse"/>
  <message name="cancelFlight">
    <part name="user_id" type="xsd:int"/>
    <part name="flight_id" type="xsd:int"/>
  </message>
  <message name="cancelFlightResponse"/>
  <portType name="FlightBooking">
    <operation name="bookFlight" parameterOrder="user_id flight_id">
      <input wsam:Action="http://flight_booking.services/FlightBooking/bookFlightRequest" message="tns:bookFlight"/>
      <output wsam:Action="http://flight_booking.services/FlightBooking/bookFlightResponse" message="tns:bookFlightResponse"/>
    </operation>
    <operation name="rescheduleFlight" parameterOrder="user_id old_flight_id new_flight_id">
      <input wsam:Action="http://flight_booking.services/FlightBooking/rescheduleFlightRequest" message="tns:rescheduleFlight"/>
      <output wsam:Action="http://flight_booking.services/FlightBooking/rescheduleFlightResponse" message="tns:rescheduleFlightResponse"/>
    </operation>
    <operation name="cancelFlight" parameterOrder="user_id flight_id">
      <input wsam:Action="http://flight_booking.services/FlightBooking/cancelFlightRequest" message="tns:cancelFlight"/>
      <output wsam:Action="http://flight_booking.services/FlightBooking/cancelFlightResponse" message="tns:cancelFlightResponse"/>
    </operation>
  </portType>
  <binding name="FlightBookingImplPortBinding" type="tns:FlightBooking">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="bookFlight">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://flight_booking.services/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://flight_booking.services/"/>
      </output>
    </operation>
    <operation name="rescheduleFlight">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://flight_booking.services/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://flight_booking.services/"/>
      </output>
    </operation>
    <operation name="cancelFlight">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://flight_booking.services/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://flight_booking.services/"/>
      </output>
    </operation>
  </binding>
  <service name="FlightBookingImplService">
    <port name="FlightBookingImplPort" binding="tns:FlightBookingImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

