FlightBookingImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="flight_id" type="xs:int"/>

  <xs:element name="new_flight_id" type="xs:int"/>

  <xs:element name="old_flight_id" type="xs:int"/>

  <xs:element name="user_id" type="xs:int"/>
</xs:schema>

